# Configuration file

general {
    # Determines whether or not the default tips should be possible. This includes tips added directly by other mods through their language files. [default: true]
    B:allowDefaultTips=false

    # A list of custom tips added by the user or modpack. [default: ]
    S:customTips <
        有时候猪人会对你的工作台和箱子感兴趣。
        按下某个快捷键可以打开万用笔记哦。
        管道连接不上可能是因为你忘掉了什么。
        这是一条Tip！
        黎明，万生演出的开幕式。初燃太阳驱散黑暗，一切生灵再见光明。人们高唱赞歌，并祈祷于神。万物起舞，是再生的黎明，是大方的圣礼，是长久的神恩。
        箱子里怎么有只猫！
        背包的堆叠物品对喜欢和鼠标滚轮玩了。
        游戏内截屏后的图片也会去你的剪切板玩。
        手动搭建模块机械是个蠢想法，你应该试试大魔法棒！
        有很大一部分疑难杂症都可以在tip里找到暗示！
        (下界)铁矿当然要用铁(等级)镐挖！（雾）
        辛西纳和铁太像了！
        你的装备都拥有灵魂！
        你可以趁研钵小姐发呆时开连点器！
        多在地狱上基岩层附近转转，你会发现新大陆的。
        这不是Bug！这是特性！
        /together
        小心手榴弹！
        茄子花也是花！
        大部分枪械都可以合成！
        “没必要连放个屁都得教玩家”——某不愿透露姓名的大佬
        植物向往光。
        有时候末影人也会来下界串门。
     >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=FFFFFF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=FFFF55

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=5

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=40
}


