# Configuration file

general {
    # Determines whether or not the default tips should be possible. This includes tips added directly by other mods through their language files. [default: true]
    B:allowDefaultTips=false

    # A list of custom tips added by the user or modpack. [default: ]
    S:customTips <
        按下某个快捷键可以打开万用笔记哦。
        管道连接不上可能是因为你忘掉了什么。
        这是一条Tip！
        黎明，万生演出的开幕式。初燃太阳驱散黑暗，一切生灵再见光明。人们高唱赞歌，并祈祷于神。万物起舞，是再生的黎明，是大方的圣礼，是长久的神恩。
        箱子里怎么有只猫！
        背包的堆叠物品对喜欢和鼠标滚轮玩了。
        游戏内截屏后的图片也会去你的剪切板玩。
        手动搭建模块机械费时？你应该试试大魔法棒！
        有很大一部分疑难杂症都可以在tip里找到暗示！
        (下界)铁矿当然要用铁(等级)镐挖！（雾）
        辛西纳和铁太像了！
        你的装备都拥有灵魂！
        你可以趁研钵小姐发呆时开连点器！
        多在地狱上基岩层附近转转，你会发现新大陆的。
        这不是Bug！这是特性！
        /together
        小心手榴弹！
        茄子花也是花！
        大部分枪械都可以合成！
        “没必要连放个屁都得教玩家.”——某不愿透露姓名的大佬
        植物向往光。
        有时候末影人也会来下界串门。
        红石乃血液的结晶。
        只要你乐意，这个包你玩多久都可以。
        不要盲目相信你的经验与自觉！多看看JEI！
        找不到基岩层附近的遗迹的话你可以试试用船卡上去。
        开启原版音乐气氛更佳！
        永远不要认为你的武器足够强大！
        让我加攻击魔法干嘛？拿来刮痧？
        使用灵气发电的人终会受到自然的惩罚！
        你要永远相信JEI有配方！
        大地震动之日，既是维度交错之时！
        刷怪箱也是箱子，对吧？
        你应该多自己干点什么，别总想跟着任务做事。
        不要做整合包，会变得不幸。 - HDS
        早期的Annals是有加OpenComputer模组的。
        你知道么？
        我们不叫Anals!也不叫Animal!
        你在瑟瑟发抖啊，是因为这boss的血量呢？还是因为这小怪的护甲呢？
        不要太过分了, 1710人! - HDS
        绝对流体分离机会将岩浆的原子打碎,让它的硅原子裂变成碳、氢、氧原子。（精神错乱）
        到底是科技包还是冒险包呢？
        有没有一种可能，我是说可能，这个包的开发团队中只有一个人玩过这个包。
        来点骚话？和这个整合包无关的也行。 - 幻沙
        你群有没有人一起做包，没有的话我待会再问。
        Eicy ‘s crash.work always log crashes come from Eicy. - Salt_lovely
        抵制不良游戏，拒绝盗版游戏。 注意自我保护，谨防受骗上当。 适度游戏益脑，沉迷游戏伤身。 合理安排时间，享受健康生活。
        去玩玩隔壁Herodotus。
        有些模组用语言文件来注册矿辞呢（
        还请觉悟，今朝此刻，作者榨玩家，无良也。 - 白马非马
        真狠啊。
        骂自己的话都打上去。
        你这个包可真养老啊。
        “你这尘烬可真沉浸。”
        [自动回复]你好，我现在有事不在，一会再和你联系。
        NPE.
        Q:话说你觉得现在什么东西没用? A:史蒂夫最没用。
        一定是Optfine干的！
        流泪猫猫头.png
        你存档经历好几次模组改动，出点bug在所难免（bushi
        不，你不知道。
        不，你知道。
        我知道。
        A:来点骚话。 B:[表情] A:别发表情了！我是让你来点骚话！

     >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=FFFFFF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=FFFF55

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=5

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=40
}


