# Configuration file

"enchantability - armor" {
    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:Astronaut=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:BRONZE=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:CHAIN=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:Clothing=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:DIAMOND=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:FRICTIONBOOTS=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:GASMASK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:GLOWSTONE=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 40]
    I:GOLD=40

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:IRON=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:Imp=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:JETPACK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:Juggernaut=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:LAZULI=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:LEATHER=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:Marine=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 16]
    I:NATURESAURAINFUSED_IRON=16

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:NCR=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 40]
    I:OBSIDIAN=40

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:OSMIUM=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:PowerArmor=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:SCUBATANK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:STEEL=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:Santa=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:ScarSuit=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:Spartan=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:Tactical=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:Umbrella=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:armor_material_globot=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:armor_material_globot2=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:armor_material_globot3=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:mutant_skeleton=9
}


"enchantability - tools" {
    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:BRONZE=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:BRONZE2=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:BetterPipesWrench=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 24]
    I:Bloodwood=24

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:DIAMOND=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:GLOWSTONE=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:GLOWSTONE2=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 40]
    I:GOLD=40

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:IRON=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 8]
    I:LAZULI=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:LAZULI2=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:NATURESAURA_INFUSED_IRON=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 40]
    I:OBSIDIAN=40

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 50]
    I:OBSIDIAN2=50

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:OSMIUM=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:OSMIUM2=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:STEEL=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:STEEL2=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:STONE=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:WOOD=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:fish=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:material_bow_globot=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:material_bow_globot2=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:material_globot=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:material_globot2=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:material_globot3=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:material_pickaxe_globot=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:material_pickaxe_globot2=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:material_pickaxe_globot3=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:material_sword_globot=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:material_sword_globot2=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:material_sword_globot3=25
}


