# Configuration file

"enchantability - armor" {
    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 13]
    I:Abyssalnite=13

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:Astronaut=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:BAMBOO=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:BATTLEMAGE=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:BRONZE=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:CHAIN=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:Clothing=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 14]
    I:Coralium=14

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 14]
    I:CoraliumP=14

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:DIAMOND=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:Depths=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:Dread=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:Dreadium=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:DreadiumS=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:EXOSKELETON=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:Ethaxium=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:FRICTIONBOOTS=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:GASMASK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:GLOWSTONE=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 40]
    I:GOLD=40

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:IRON=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:Imp=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:JADE=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:JETPACK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:Juggernaut=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:LAZULI=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:LEATHER=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:Marine=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 16]
    I:NATURESAURAINFUSED_IRON=16

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:NCR=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 40]
    I:OBSIDIAN=40

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:OSMIUM=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:PowerArmor=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:REIN_EXOSKELETON=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:RHINO=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:SAGE=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:SCUBATANK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:SILK=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:STEEL=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:Santa=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:ScarSuit=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:Spartan=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:Tactical=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:Umbrella=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:WARLOCK=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 11]
    I:aether=11

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:"ancientspellcraft:devoritium_armor"=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:armor_material_globot=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:armor_material_globot2=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:armor_material_globot3=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 30]
    I:enchant=30

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 11]
    I:ender=11

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 11]
    I:fire=11

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 11]
    I:fire2=11

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 11]
    I:forest=11

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 11]
    I:ghost=11

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 11]
    I:ice=11

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 11]
    I:moonlight=11

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:mutant_skeleton=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 11]
    I:nether=11

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 11]
    I:nether2=11

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 11]
    I:storm=11

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 11]
    I:storm2=11

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 11]
    I:sunlight=11

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 11]
    I:sunlight2=11

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 11]
    I:terra=11

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 11]
    I:terra2=11

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 11]
    I:water=11

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 11]
    I:wither=11

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 11]
    I:zombie=11
}


"enchantability - tools" {
    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:ABYSSALNITE=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:BRONZE=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:BRONZE2=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:BetterPipesWrench=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 24]
    I:Bloodwood=24

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:CAVEMAN_CLUB=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 13]
    I:CORALIUM=13

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:DARKSTONE=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:DIAMOND=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:DREADIUM=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:ETHAXIUM=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:GLOWSTONE=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:GLOWSTONE2=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 40]
    I:GOLD=40

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:IRON=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:JADE=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:JADE_PAXEL=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 8]
    I:LAZULI=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:LAZULI2=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:MAGICAL=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:NATURESAURA_INFUSED_IRON=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 40]
    I:OBSIDIAN=40

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 50]
    I:OBSIDIAN2=50

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:OSMIUM=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:OSMIUM2=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:ROLLED_NEWSPAPER=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:SCORPION_PINCER=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:STEEL=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:STEEL2=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:STONE=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:WAR_HAMMER=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:WASP_DAGGER=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:WASP_SWORD=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:WOOD=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:devoritium=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 11]
    I:"dragonmounts:aetherdragonscales"=11

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 11]
    I:"dragonmounts:enchantdragonscales"=11

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 11]
    I:"dragonmounts:enderdragonscales"=11

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 11]
    I:"dragonmounts:firedragonscales"=11

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 11]
    I:"dragonmounts:forestdragonscales"=11

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 11]
    I:"dragonmounts:icedragonscales"=11

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 11]
    I:"dragonmounts:icedragonscales2"=11

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 11]
    I:"dragonmounts:moonlightdragonscales"=11

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 11]
    I:"dragonmounts:netherdragonscales"=11

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 11]
    I:"dragonmounts:netherdragonscales2"=11

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 11]
    I:"dragonmounts:stormdragonscales"=11

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 11]
    I:"dragonmounts:stormdragonscales2"=11

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 11]
    I:"dragonmounts:sunlightdragonscales"=11

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 11]
    I:"dragonmounts:sunlightdragonscales2"=11

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 11]
    I:"dragonmounts:terra2dragonscales"=11

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 11]
    I:"dragonmounts:terradragonscales"=11

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 11]
    I:"dragonmounts:waterdragonscales"=11

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 11]
    I:"dragonmounts:zombiedragonscales"=11

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:dreadiumkatana_hilt=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:dreadiumkatana_katana=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:fish=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:material_bow_globot=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:material_bow_globot2=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:material_globot=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:material_globot2=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:material_globot3=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:material_pickaxe_globot=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:material_pickaxe_globot2=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:material_pickaxe_globot3=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:material_sword_globot=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:material_sword_globot2=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:material_sword_globot3=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:soulreaper=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 8]
    I:ssAbyssalnite=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:ssBronze=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:ssConstantan=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 8]
    I:ssCopper=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:ssCoralium=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:ssDarkstone=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:ssDreadium=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 8]
    I:ssElectrum=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:ssElementium=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:ssEnderium=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:ssEthaxium=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:ssInvar=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:ssLead=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:ssLumium=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:ssManasteel=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 6]
    I:ssNickel=6

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:ssObsidian=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:ssPlatinum=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:ssSignalum=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:ssSilver=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:ssSoulforgedSteel=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:ssSteel=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 26]
    I:ssTerrasteel=26

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:ssThaumium=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 6]
    I:ssTin=6

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:ssVoidmetal=10
}


